In [10]:
list1=["Ram","Mack","Micky","Tom","NAel"]

In [11]:
list1

['Ram', 'Mack', 'Micky', 'Tom', 'NAel']

In [12]:
list1[1]

'Mack'

In [16]:
for i in list1:
    j=str(i)
    if j.find("a")==True:
        
        print(i)

Ram
Mack

In [14]:
list1 = ["Ram", "Mack", "Micky", "Tom", "NAel"]
for i in list1:
    j = str(i)
    if 'a' in j.casefold():
        print(i)

Ram
Mack
NAel

In [15]:
import pandas as pd

# Create a DataFrame
data = {'Name': ["Ram", "Mack", "Micky", "Tom", "NAel"]}
df = pd.DataFrame(data)

# Boolean indexing to filter rows
filtered_df = df[df['Name'].str.lower().str.contains('a')]
print(filtered_df)

   Name
0   Ram
1  Mack
4  NAel

In [21]:
list1 = ["Ram", "Mack", "Micky", "Tom", "NAel"]
for i in list1:
    if "a" in i.casefold():
        print(i)

Ram
Mack
NAel

In [20]:
list1 = ["Ram", "Mack", "Micky", "Tom", "NAel"]
for i in list1:
    if "a" in i.casefold()==True:
        print(i)

In [22]:
list1 = ["Ram", "Mack", "Micky", "Tom", "NAel"]
list1.reverse()
list1

['NAel', 'Tom', 'Micky', 'Mack', 'Ram']

In [23]:
list1[::-1]

['Ram', 'Mack', 'Micky', 'Tom', 'NAel']

In [43]:
list1

['NAel', 'Tom', 'Micky', 'Mack', 'Ram']

In [24]:
if "Mack" in list1:
    print("It's here")
    
else:
    print("sad")

It's here

In [28]:
sorted(list1)

['Mack', 'Micky', 'NAel', 'Ram', 'Tom']

In [30]:
#Creating a list of random numbers of 8 elements
import numpy as np
list5=list(np.random.randint(1,100,8))
list5

[94, 16, 6, 64, 77, 81, 4, 7]

In [39]:
#Finding the maximum number
max(list5)

94

In [48]:
#Sorted the list
sorted_list=sorted(list5)
print(sorted_list)
print(list5)

#2nd method
list5.sort()
print(list5)

[4, 6, 7, 16, 64, 77, 81, 94]
[4, 6, 7, 16, 64, 77, 81, 94]
[4, 6, 7, 16, 64, 77, 81, 94]

In [53]:
#Creating a fuction that can detect the second highest number
def second_highest(num):
    sorted_num=num.sort()
    print("The 2nd highest number in list is:",num[-2])
    
#Calling the function

second_highest(raw)

The 2nd highest number in list is: 87

In [52]:
raw=list(np.random.randint(1,100,8))
print(raw)

[88, 46, 87, 10, 9, 5, 76, 62]

# Task:

1. Sum of List
Write a Python program to sum all the items in a list.

2. Largest Number in List
Write a program to find the largest number in a list.

3. List Rotation
Write a function that rotates a list by k elements. For example, the list [1, 2, 3, 4, 5] rotated by 2 becomes [3, 4, 5, 1, 2].

4. Remove Duplicates
Write a Python program to remove duplicates from a list.

5. Check List Sorted
Write a function that takes a list and returns True if the list is sorted in ascending order and False otherwise.

6. Merge Two Lists
Write a Python function that merges two sorted lists into a single sorted list.

7. Count Element Frequency
Create a function that counts the frequency of each element in a list and returns a dictionary with the items as keys and

Merge Sorted Lists
Write a function that merges two sorted lists into a new sorted list. Do not use the sorted() function or .sort() method.

Rotate a List
Implement a function that rotates a list by k positions to the left. For example, rotating the list [1, 2, 3, 4, 5] by 2 positions results in [3, 4, 5, 1, 2].

Remove Duplicates
Write a program that removes all duplicate values from a list, preserving the order of the remaining items.

Common Elements in Two Lists
Write a function that returns a list containing the common elements between two lists without duplicates.

Sum Consecutive Duplicates
Create a program that sums up consecutive duplicate numbers in a list. For example, turning [1, 2, 2, 3, 3, 3, 4] into [1, 4, 9, 4].`

In [45]:
list5

[94, 16, 6, 64, 77, 81, 4, 7]

In [46]:
list5.sort()

In [47]:
list5

[4, 6, 7, 16, 64, 77, 81, 94]

# Task 1. Sum of List Write a Python program to sum all the items in a list.

In [7]:
import numpy as np
list1=list(np.random.randint(1,100,8))
print(list1)
Total=0
for i in list1:
    Total=Total+i
    i+=1
print(Total)

[24, 73, 86, 73, 83, 24, 6, 16]
385

# Task 2. Largest Number in List Write a program to find the largest number in a list.

In [12]:
import numpy as np
list2=list(np.random.randint(1,100,10))
print(list2)
Sorted_list2=sorted(list2)
print(Sorted_list2)
print("The largest number is:",Sorted_list2[-1])

[84, 9, 84, 96, 58, 65, 3, 10, 57, 5]
[3, 5, 9, 10, 57, 58, 65, 84, 84, 96]
The largest number is: 96

# Task 3. List Rotation Write a function that rotates a list by k elements. For example, the list [1, 2, 3, 4, 5] rotated by 2 becomes [3, 4, 5, 1, 2].

In [16]:
def Rotation_list(User_list,item):
    rotate=User_list[item:] + User_list[:item]
    print("The rotated list is:",rotate)

In [17]:
#Creating a list
list3=list(range(1,6))
print(list3)
#Calling the Rotation_list function
Rotation_list(list3,2)

[1, 2, 3, 4, 5]
The rotated list is: [3, 4, 5, 1, 2]

# Task 4: Remove Duplicates Write a Python program to remove duplicates from a list.

In [18]:
def remove_duplicate(user_list):
    Conv_list_into_set=set(user_list)
    conv_set_into_list=list(Conv_list_into_set)
    print("Your duplicate element free list is:",conv_set_into_list)

In [19]:
#Creating a list that have duplicate values
list4=[4,45,25,45,25,6,96,75,45]
#Calling remove_duplicate functions
remove_duplicate(list4)

Your duplicate element free list is: [96, 4, 6, 75, 45, 25]

# Task 5: Check List Sorted Write a function that takes a list and returns True if the list is sorted in ascending order and False otherwise

In [20]:
def is_ascending(user_list):
    return all(user_list[i]<=user_list[i+1] for i in range(len(user_list)-1))

In [21]:
#Creating user created list
list5=[1,2,3,4,5]
list6=[1,2,4,3,5]

#Calling is_ascending function
print(is_ascending(list5))
print(is_ascending(list6))

True
False

# Task 6: Merge Two Lists Write a Python function that merges two sorted lists into a single sorted list.Don't use sorted() or .sort() function.

In [26]:
list7=[1, 3, 5, 7]
list8=[2, 4, 6, 8, 9, 10]
new_sorted_list=[]
i,j=0,0
while i<len(list7) and j<len(list8):
    if list7[i]<list8[j]:
        
        new_sorted_list.append(list7[i])
        i+=1
        
    else:
        new_sorted_list.append(list8[j])
        j+=1
print(new_sorted_list)

#Adding remaining elements froim both list (if any)
new_sorted_list.extend(list7[i:])
new_sorted_list.extend(list8[j:])
print(new_sorted_list)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Task 7: Count Element Frequency Create a function that counts the frequency of each element in a list and returns a dictionary with the items as keys and frequency as values.

In [32]:
def count_element(user_list):
    frequency_dict={}
    for i in user_list:
        if i in frequency_dict:
            frequency_dict[i]+=1
            
        else:
            frequency_dict[i]=1
            
    return  frequency_dict

In [34]:
#Creating a list for testing
my_list = [1, 2, 3, 4, 2, 3, 2, 1, 4, 5, 2]
#Calling the fnction
count_element(my_list)

{1: 2, 2: 4, 3: 2, 4: 2, 5: 1}

# Task 8: Write a function that returns a list containing the common elements between two lists without duplicates.

In [39]:
def find_common_element(user1,user2):
    set1=set(user1)
    set2=set(user2)
    
    common_set=set1.intersection(set2)
    common_list=list(common_set)
    print("The common elements or element list is:",common_list)

In [40]:
#Creating two list
list8=[1,5,6,9,7,8,5,6]
list9=[2,3,4,7,11,10]

#Calling find_common_element function
find_common_element(list8,list9)

The common elements or element list is: [7]

# Task 9: Create a program that sums up consecutive duplicate numbers in a list. For example, turning [1, 2, 2, 3, 3, 3, 4] into [1, 4, 9, 4].

In [48]:
def duplicate_sum(user_list):
    if len(user_list)==0:
        
        return []
    result=[]
    current_sum=user_list[0]
    for i in range(1,len(user_list)):
        if user_list[i]==user_list[i-1]:
            current_sum=current_sum+user_list[i]
            
        else:
            result.append(current_sum)
            current_sum=user_list[i]
            
    result.append(current_sum)
    print(result)

In [49]:
#Creating a list
test_list=[1, 2, 2, 3, 3, 3, 4]
#Calling the function
duplicate_sum(test_list)

[1, 4, 9, 4]

# Task 10: Create a list with some names and find out those names which have letter "a" Or "A" in it.

In [53]:
list1 = ["Ram", "Mack", "Micky", "Tom", "NAel"]
for i in list1:
    j=str(i)
    if j.find("a")==True:
        print(i)

Ram
Mack

In [54]:
list1 = ["Ram", "Mack", "Micky", "Tom", "NAel"]
for i in list1:
    j=str(i)
    if "a" in j.casefold():
        print(i)

Ram
Mack
NAel

In [38]:
list7=[1, 3, 5, 7]
list8=[2, 4, 6, 8, 9, 10]
new_list=list7.extend(list8)
print(new_list)
print(list7)

None
[1, 3, 5, 7, 2, 4, 6, 8, 9, 10]